canvas{
	background-color: #D4E7ED;
	float: left;
}

#maintitle{
	position: absolute;
}

#maintitle p{
	margin-top: 200px;
	margin-left: 160px;
	font-family: Calibri;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px rgb(50,50,50);
}

#mainwindow{
	width: 1000px;
	height: 600px;
	border: solid black 1px;
	margin: 0;
	position: relative;
}

#gamewindow{
	float: right;
	width: 200px;
	height: 600px;
	background-color: #21D1A8;
}

.tower{
	height: 30px;
	width: 30px;
	margin: 2px;
	text-indent: 50px;
	line-height: 2;
	font-family: Calibri;
	font-weight: bold;
	color: #50576A;
	margin-top: 10px;
}

.red{ background-color: #FF6357; }
.blue{ background-color: #5B9AFF; }
.gray{ background-color: #ADBBBF; }